.import/
export.cfg
export_presets.cfg
.mono/
.sconsign.dblite
depend
*.o
*.d
compile_commands.json
.submodules_initialized
bin/*.dll
bin/*.so
*.swp
callgraph.txt
native/*/*.obj
*.os
bin/win64
bin/osx
bin/x11
